<h1>Events from Google Calendar for the month of April</h1>
<ul class="events">
<% @events.each do | event | %>
<li class="event">
	<h2><%= link_to event.summary, {:controller => "events", :action => 'index'}, :class => 'title' %></h2>
	<span><%= event.start.dateTime %></span>
	<span><%= event.end.dateTime %></span>
	<p><%= event.description %></p>
</li>
<% end %>
</ul>