body {
	margin-top:150px;
}

#site_logo {
	position:absolute;
	background-color:#fff;
	color:#000;
	border:1px solid #E0E0E0;
	border-top:none;
	top:0;
	left:5%;
	right:70%;
	z-index:1;
	text-align:center;
	padding:45px;
	font-size:200%;
	font-family:Arial;
	-webkit-box-shadow:2px 2px 10px #CCC;
	-moz-box-shadow:2px 2px 10px #CCC;
	box-shadow:2px 2px 10px #CCC;
	text-decoration:none;
}

#branding {
	background-color:#000;
	color:#fff;
	padding: .25em 0 .25em 33%;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	margin:0;
	font-family:Cambria;  /* update me */
}

.events {
	list-style:none;
	margin:0;
	padding:0;
}

.event {
	border:1px solid #E0E0E0;
	margin:1em;
	padding-top:0;
}

.event h2 {
	margin:0;
	padding:0;
}

.event .title {
	display:block;
	text-decoration:none;
	background-color:#F0F0F0;
	margin:0;
	padding:.25em;
}