<h1>This is the events home page</h1>
<%= link_to "New", :controller => "events", :action => "new" %>

<ul class="events">
<% @events.each do | event |%>
<li class="event">
	<h2><%= link_to event.name, {:controller => "events", :action => "show", :id => event}, :class => 'title' %></h2>
	<span><%= event.time %></span>
	<p><%= event.description %></p>
</li>
<% end%>
</ul>