<ul>
<li><a href="/openid/create?openid_url=yahoo.com">Login via yahoo</a></li>
<li><a href="/openid/create?openid_url=https://www.google.com/accounts/o8/id">Login via google</a></li>
<li><%= link_to 'Login via facebook', :controller => 'openid', :action => 'create_facebook' %>
</ul>